# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Embeddings
embeddings/

# Uploaded resumes & JDs
uploads/resumes/
uploads/jds/

# Generated outputs
generated_cvs/
parsed_json/

# IDE files
.vscode/
.idea/

# Virtual Environments
.venv/
venv/
env/

# Logs & profiling
*.log
profiling_log.txt
